<div class="flex-column" style="height:100vh;">
  <% if flash[:errors] %>
    <% flash.each do |name, message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>
  
  <div class="d-flex justify-content-center">
    <div class="m-5">
      <div class="card bg-light border-warning shadow" style="max-width: 36rem;">
        <div class="card-body">
          <div class="card-header">
            <h2 class="text-center">Employee's Details</h2>
          </div>
          <div>
            <h2> &#10145; ID: <%= @user.id %> </h2>
            <h2> &#10145; Name: <%= @user.name %> </h2>
            <h2> &#10145; Username: <%= @user.user_name %> </h2>
            <h2> &#10145; Email: <%= @user.email %> </h2>
            <h2> &#10145; Device Type:</strong> <%= @user.device_type %></h2>
            <h2> &#10145; Phone Number: <%= @user.phone_number %> </h2>
            <h2> &#10145; Gender: <%= @user.gender %> </h2>
            <h2> &#10145; Active: <%= @user.active ? "Yes" : "No" %> </h2>
          </div>
          <div class="d-flex">
            <%= button_to "Edit Employee", edit_user_path(@user), method: :get, class: "btn-success border-0 rounded-pill shadow p-2 m-2" %>
            <%= button_to "Delete Employee", user_path(@user), method: :delete, class: "btn-danger border-0 rounded-pill shadow p-2 m-2", data: { confirm: 'Are you sure?' } %>
            <%= button_to "View all Employees", users_path, method: :get, class: "btn-primary border-0 rounded-pill shadow p-2 m-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
