<div class="container mt-5">
  <h1>Attendances for <%= @warehouse.name %></h1>
  <%= link_to 'New Attendance', new_warehouse_attendance_path(@warehouse), class: 'btn btn-primary mb-3' %>
  <div class="row">
    <% @attendances.each do |attendance| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= attendance.check_in_time %></h5>
            <p class="card-text">Check-out: <%= attendance.check_out_time %></p>
            <p class="card-text">Location: <%= attendance.latitude %>, <%= attendance.longitude %></p>
            <%= link_to 'Show', warehouse_attendance_path(@warehouse, attendance), class: 'btn btn-secondary' %>
            <%= link_to 'Edit', edit_warehouse_attendance_path(@warehouse, attendance), class: 'btn btn-warning' %>
            <%= link_to 'Destroy', warehouse_attendance_path(@warehouse, attendance), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back', warehouses_path, class: 'btn btn-secondary' %>
</div>
